.task{
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        button{
            width: 20%;
            color: rgba(145, 190, 204, 0.89)
        }
    }
}